@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html { 
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
}

p {
    color: #411530;
}

header {
    height: 75px;
    width: 100%;
}

/* headings and logo */

h1, h2 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #411530;
}

#logo {
    float: left;
    font-size: 180%;
    margin-left: 30px;
    letter-spacing: 2px;
}

#logo i {
    color: #D1512D;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #12130f;
}

#menu a:hover {
    border-bottom: 2px solid #D1512D;
}

.active {
    border-bottom: 2px solid #D1512D;
}

/* Hero image and text */

#hero-outer {
    height: 600px;
    position: relative;
    width: 100%;
    display: flex;
    background: url('../images/stability.png') no-repeat;
    background-position: right;
    background-size: contain;
}

#hero-left-side {
    height: fit-content;
    width: 500px;
    text-align: right;
    position: absolute;
    background-color: rgba(243, 243, 243, .5);
    border-radius: 10px;
    padding: 10px;
    top: 25%;
    left: 10%;
}

#hero-left-side > h2 {
    text-align: right;
    font-size: 250%;
    line-height: normal;
}

#hero-left-side > p {
    text-align: right;
    font-style: italic;
    font-weight: bold;
    color: #D1512D;
    line-height: 20px;
    letter-spacing: 2px;
    margin-top: 10px;
}

/* benefits section */

#benefits-meditation{
    width: 100%;
    height: 700px;
}

#benefits-meditation > h2 {
    text-align: center;
    margin: 40px 0 30px 0;
    font-size: 200%;
    color: #D1512D;
}

#benefits-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#benefits-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#benefits-center {
    width: 33%;
    margin: 0 auto;
    background: url(../images/undraw_center-benefits.png) no-repeat;
    height: inherit;
    background-size: contain;
}

.benefits-left-reasons {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 40px;
    text-align: right;
    transition: transform .4s ease;
}

.benefits-left-reasons:hover {
    transform: scale(1.03);
}

.benefits-left-reasons > h2 {
    text-transform: uppercase;
    margin-top: 10px;
}

.benefits-right-reasons {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 40px;
    transition: all .4s ease;
}

.benefits-right-reasons:hover {
    transform: scale(1.03);
    transition: all .4s ease;
}

.benefits-right-reasons > h2 {
    text-transform: uppercase;
    margin-top: 10px;
}

.benefits-left-reasons hr, .benefits-right-reasons hr {
    border-top: 2px solid #D1512D;
    width: 100%;
    margin: 10px 0;
}

/* Cards section */

#meditation-techniques {
    width: 100%;
    height: 700px;
    padding: 10px 0;
    background-color: #F5E8E4;
}

#cards-title {
    text-align: center;
    margin: 40px 0 10px 0;
    font-size: 200%;
}

#cards-div {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    gap: 30px;
}

#cards-div a {
    text-decoration: none;
    width: 30%;
}

.card-homepage {
    width: 100%;
    max-width: 100%;
    height: 500px;
    text-align: center;
    margin: 30px 0;
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s ease;
}

.card-homepage h2, .card-homepage p {
    color: #411530;
}

.card-homepage img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-homepage h2 {
    margin: 20px 0;
}

.card-homepage p {
    line-height: 20px;
    margin: 20px 10px;
}

.card-homepage:hover {
    box-shadow: 0 0 10px rgba(65, 21, 48,.4);
    transition: all .3s ease;
    transform: scale(1.03);
}

/* footer social and signup */

footer {
    width: 100%;
}

#footer-title {
    text-align: center;
    margin: 40px 0;
    padding-top: 40px;
}

#footer-content {
    width: 100%;
    display: inline-flex;
}

#footer-left-social {
    width: 33%;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#footer-left-social > a {
    text-decoration: none;
    color: #411530;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s ease;
}

#footer-left-social a:hover {
    transform: scale(1.03);
    transition: all .3s ease;
}

#footer-left-social > a > i {
    color: #411530;
}

#footer-form {
    padding: 30px;
    width: 33%;
    background-color: transparent;
    color: #411530;
    font-weight: bold;
}

#footer-form h3 {
    color: #411530;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.input-signup {
    background: transparent;
    color: #411530;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 1px solid #411530;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(65, 21, 48,.2);
}

.submit-button {
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    border: 1px solid #411530;
    color: #411530;
    background: transparent;
    display: block;
}

.submit-button:hover {
    background-color: #411530;
    color: #F5C7A9;
}

#footer-image-form {
    width: 33%;
    background: url('../images/undraw_footer.png') no-repeat center center;
    background-size: contain;
}

/* Stress Meditation Page */

#stress-before-section {
    width: 60%;
    margin: 0 auto;
}

#stress-before-title {
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
}

#stress-before-start {
    text-align: left;
    line-height: 25px;
    padding: 40px 0;
}

#video-stress-meditation {
    margin: 0 auto;
    display: table;
}

#steps-start-stress {
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#steps-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: #D1512D;
}

/* Screen size less than 1007px */

@media only screen and (max-width: 1007px) {

/* header */

#logo {
    float: left;
    font-size: 150%;
    margin-left: 10px;
    letter-spacing: 2px;
}

#menu {
    font-size: 100%;
}

#menu li {
    margin-right: 20px;
}

/* Hero */

#hero-left-side {
    height: fit-content;
    width: 80%;
    text-align: center;
    position: absolute;
    background-color: rgba(243, 243, 243, .5);
    border-radius: 10px;
    top: 20%;
    left: 10%;
}

#hero-left-side > h2 {
    font-size: 200%;
    line-height: normal;
}

#hero-left-side > p {
    font-style: italic;
    font-weight: bold;
    color: #D1512D;
    line-height: 20px;
    letter-spacing: 2px;
    margin: 10px 10px;
}

/* Benefits */

#benefits-meditation > h2 {
    text-align: center;
    margin: 40px 0 30px 0;
    font-size: 150%;
    color: #D1512D;
}

.benefits-left-reasons {
    clear: both;
    width: 60%;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: left;
    transition: transform .4s ease;
}

#benefits-left {
    clear: both;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.benefits-right-reasons {
    clear: both;
    width: 60%;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: left;
    transition: transform .4s ease;
}

#benefits-right {
    clear: both;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    flex-direction: column;
}

#benefits-center {
    display: none;
}

/* Meditation techniques */

#meditation-techniques {
    width: 100%;
    height: fit-content;
    padding: 1% 0;
    margin-top: 10%;
    background-color: #F5E8E4;
}

#cards-title {
    text-align: center;
    margin: 40px 0 10px 0;
}

#cards-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards-div a {
    width: 80%;
}

/* footer */

#footer-image-form {
    display: none;
}


#footer-content {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#footer-left-social {
    width: 60%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#footer-left-social span {
    display: none;
}

#footer-form {
    width: 60%;
}

}
