@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
}

p {
    color: #411530;
}

header {
    height: 75px;
    width: 100%;
}

/* headings and logo */

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #411530;
}

#logo {
    float: left;
    font-size: 180%;
    margin-left: 30px;
    letter-spacing: 2px;
}

#logo i {
    color: #D1512D;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #12130f;
}

#menu a:hover {
    border-bottom: 2px solid #D1512D;
}

.active {
    border-bottom: 2px solid #D1512D;
}

/* Hero image and text */

#hero-outer {
    height: 600px;
    position: relative;
    width: 100%;
    display: flex;
    background: url('../images/stability.png') no-repeat;
    background-position: right;
    background-size: contain;
}

#hero-left-side {
    height: 120px;
    width: 500px;
    text-align: right;
    position: absolute;
    top: 25%;
    left: 10%;
}

#hero-left-side > h2 {
    text-align: right;
    font-size: 250%;
    line-height: normal;
}

#hero-left-side > p {
    text-align: right;
    font-style: italic;
    font-weight: bold;
    color: #D1512D;
    line-height: 20px;
    letter-spacing: 2px;
    margin-top: 10px;
}

/* benefits section */

#benefits-meditation{
    width: 100%;
    height: 700px;
}

#benefits-meditation > h2 {
    text-align: center;
    margin: 40px 0 30px 0;
    font-size: 200%;
    color: #D1512D;
}

#benefits-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#benefits-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#benefits-center {
    width: 33%;
    margin: 0 auto;
    background: url('../images/undraw_center-benefits.png') no-repeat center center;
    border-radius: 50%;
    height: 500px;
}

.benefits-left-reasons {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 40px;
    text-align: right;
    transition: transform .4s;
}

.benefits-left-reasons:hover {
    transform: scale(1.1);
}

.benefits-left-reasons > h2 {
    text-transform: uppercase;
    margin-top: 10px;
}

.benefits-right-reasons {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 40px;
    transition: transform .4s;
}

.benefits-right-reasons:hover {
    transform: scale(1.1);
}

.benefits-right-reasons > h2 {
    text-transform: uppercase;
    margin-top: 10px;
}

.benefits-left-reasons hr, .benefits-right-reasons hr {
    border-top: 2px solid #D1512D;
    width: 100%;
    margin: 10px 0;
}

/* Cards section */

#meditation-techniques {
    width: 100%;
    height: 700px;
    padding: 10px 0;
    background-color: #F5E8E4;
}

#cards-title {
    text-align: center;
    margin: 40px 0 10px 0;
    font-size: 200%;
}

#cards-div {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-self: center;
    margin: 0 auto;
}

#cards-div a {
    text-decoration: none;
}

.card-homepage {
    width: 400px;
    height: 500px;
    text-align: center;
    margin: 30px 0;
    background-color: #fff;
    border-radius: 10px;
    transition: transform .4s;
}

.card-homepage h2, .card-homepage p {
    color: #411530;
}

.card-homepage img {
    inline-size: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-homepage h2 {
    margin: 20px 0;
}

.card-homepage p {
    line-height: 20px;
    margin: 20px 10px;
    text-justify: left;
}

.card-homepage:hover {
    box-shadow: 0 0 10px rgba(65, 21, 48,.4);
}

/* footer social and signup */

footer {
    width: 100%;
}

#footer-title {
    text-align: center;
    margin: 40px 0;
    padding-top: 40px;
}

#footer-content {
    width: 100%;
    display: inline-flex;
}

#footer-left-social {
    width: 33%;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#footer-left-social > a {
    text-decoration: none;
    color: #411530;
    text-transform: uppercase;
    font-weight: bold;
    transition: .4s;
}

#footer-left-social a:hover {
    transform: scale(1.1);
}

#footer-left-social > a > i {
    color: #411530;
}

#footer-form {
    padding: 30px;
    width: 33%;
    background-color: transparent;
    color: #411530;
    font-weight: bold;
}

#footer-form h3 {
    color: #411530;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.input-signup {
    background: transparent;
    color: #411530;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 1px solid #411530;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(65, 21, 48,.2);
}

.submit-button {
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    border: 1px solid #411530;
    color: #411530;
    background: transparent;
    display: block;
}

.submit-button:hover {
    background-color: #411530;
    color: #F5C7A9;
}

#footer-image-form {
    width: 33%;
    background: url('../images/undraw_footer.png') no-repeat center center;
    background-size: cover;
}