/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

body {
    font-family: Quicksand, sans-serif;
}

p {
    color: #011936;
}

hr {
    border-top: 2px solid #011936;
    width: 80%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #011936;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #011936;
}

/* Header */

header {
    height: 75px;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

/* Logo */

#logo {
    float: left;
    font-size: 180%;
    margin-left: 30px;
    letter-spacing: 2px;
}

#logo i {
    color: #92E3A9;
}

/* Menu links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #12130f;
}

#menu a:hover {
    border-bottom: 2px solid #92E3A9;
}

.active {
    border-bottom: 2px solid #92E3A9;
}

/* Hero Section */

#hero-outer {
    position: relative;
    margin: 5vh 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-right-side {
    width: 50%;
    vertical-align: middle;
}

#hero-left-side {
    height: fit-content;
    text-align: right;
    width: 40%;
    position: relative;
}

#hero-left-side>h2 {
    text-align: right;
    font-size: 200%;
    line-height: normal;
}

#hero-left-side>p {
    text-align: right;
    font-style: italic;
    font-weight: bold;
    color: #263238;
    line-height: 20px;
    letter-spacing: 2px;
    margin-top: 10px;
}

/* Benefits section */

#benefits-meditation {
    width: 100%;
}

#benefits-meditation>h2 {
    text-align: center;
    margin: 40px 0 30px 0;
    font-size: 200%;
    color: #011936;
}

#benefits-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#benefits-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#benefits-center {
    width: 33%;
    margin: 0 auto;
}

.benefits-left-reasons {
    width: 80%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 40px;
    text-align: right;
    transition: transform .4s ease;
}

.benefits-left-reasons:hover {
    transform: scale(1.03);
}

.benefits-left-reasons>h3 {
    text-transform: uppercase;
    margin-top: 10px;
}

.benefits-right-reasons {
    width: 80%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
    transition: all .4s ease;
}

.benefits-right-reasons:hover {
    transform: scale(1.03);
    transition: all .4s ease;
}

.benefits-right-reasons>h3 {
    text-transform: uppercase;
    margin-top: 10px;
}

.benefits-left-reasons hr,
.benefits-right-reasons hr {
    border-top: 2px solid #92E3A9;
    width: 100%;
    margin: 10px 0 20px 0;
}

/* Meditation Cards section */

#meditation-techniques {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 0;
    background-color: #def6e5;
}

#cards-title {
    text-align: center;
    margin: 40px 0 10px 0;
    font-size: 200%;
}

#cards-div {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    gap: 30px;
}

#cards-div a {
    text-decoration: none;
    width: 30%;
}

.card-homepage {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin: 30px 0;
    padding: 15px 0;
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s ease;
}

.card-homepage h2,
.card-homepage p {
    color: #011936;
}

.card-homepage img {
    width: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-homepage h2 {
    margin: 20px 0;
}

.card-homepage p {
    line-height: 20px;
    margin: 20px 10px;
}

.card-homepage:hover {
    box-shadow: 0 0 10px rgba(1, 25, 54, .4);
    transition: all .3s ease;
    transform: scale(1.03);
}

/* Footer */

footer {
    width: 100%;
    padding-bottom: 6rem;
}

#footer-title {
    text-align: center;
    margin: 40px 0;
    padding-top: 40px;
}

#footer-content {
    width: 100%;
    display: inline-flex;
}

/* Social Medial Links */

#footer-left-social {
    width: 33%;
    float: left;
    display: flex;
    justify-content: space-around;
    transform: translateX(25%);
    flex-direction: column;
}

#footer-left-social>a {
    text-decoration: none;
    color: #011936;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s ease;
}

#footer-left-social a:hover {
    transform: scale(1.03);
    transition: all .3s ease;
}

#footer-left-social>a>i {
    color: #011936;
}

/* Newsletter Form */

#footer-form {
    padding: 30px;
    width: 33%;
    background-color: transparent;
    color: #011936;
    font-weight: bold;
}

#footer-form h3 {
    color: #011936;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.input-signup {
    background: transparent;
    color: #011936;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 1px solid #011936;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(65, 21, 48, .2);
}

.submit-button {
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    border: 1px solid #011936;
    color: #011936;
    background: transparent;
    display: block;
}

.submit-button:hover {
    background-color: #011936;
    color: #92E3A9;
}

#footer-image-form {
    width: 33%;
    background: url('../images/Email-campaign-bro.svg') no-repeat center center;
    background-size: contain;
}

/* Stress, Work, Sleep Pages */

/* Get Ready section */

#get-ready {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: #def6e5;
}

#get-ready>h2 {
    padding-top: 20px;
}

#cards-get-ready {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.get-ready-card {
    max-width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 10%);
}

.get-ready-card-number {
    height: 25px;
    width: 25px;
    top: 0;
    right: 0;
    background-color: #263238;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 9px;
    color: #fff;
}

.get-ready-card-number h3 {
    color: #fff;
}

.get-ready-card-text {
    color: #011936;
    text-align: center;
}

.get-ready-card-text p {
    padding: 20px 0;
    color: #011936;
}

/* Page Intro Text */

#page-intro-text {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding: 2em 0;
    color: #011936;
    line-height: 1.5rem;
}

#page-intro-text h3 {
    padding: 20px 0;
}

#page-intro-text h2 {
    padding: 20px 0;
}

#page-intro-text ul {
    list-style: circle;
    margin-left: 5em;
}

/* Meditation Videos Section */

#meditation-videos {
    margin: 0 auto;
    width: 80%;
}

#meditation-videos>h2 {
    text-align: center;
    padding: 30px 0;
    background-color: #def6e5;
}

.meditation-video-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 20px;
    padding: 2em 0;
    border-bottom: 2px solid #011936;
}

.meditation-video-left {
    width: 50%;
}

.meditation-video-left h2 {
    padding-bottom: 20px;
}

.meditation-video-right {
    width: 50%;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    overflow: hidden;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Thank You Page */

#hero-left-side>a {
    float: right;
    color: #011936;
    text-decoration: none;
    padding-top: 1rem;
}

.back-home {
    height: 35px;
    width: 150px;
    border-radius: 20px;
    background-color: #92E3A9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#no-nav {
    display: flex;
    justify-content: center;
}

/* Mobile Navigation bottom */

#mobile-nav {
    display: none;
}

/* Screen size less than 801px */

@media only screen and (max-width: 801px) {

    /* Header */

    #logo {
        float: left;
        font-size: 150%;
        margin-left: 10px;
        letter-spacing: 2px;
    }

    #menu {
        font-size: 100%;
    }

    #menu li {
        margin-right: 20px;
    }

    /* Hero */

    #hero-outer {
        height: fit-content;
        position: relative;
        margin: 0 auto;
        padding-top: 5vh;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #hero-left-side {
        position: relative;
        height: fit-content;
        width: 50%;
        text-align: center;
        background: none;
    }

    #hero-right-side {
        width: 50%;
    }

    #hero-left-side>h2 {
        text-align: left;
        font-size: 140%;
        line-height: normal;
    }

    #hero-left-side>p {
        text-align: left;
        font-style: italic;
        font-weight: normal;
        color: #263238;
        line-height: 20px;
        letter-spacing: 2px;
        margin-top: 10px;
    }

    /* Benefits */

    #benefits-meditation {
        height: fit-content;
    }

    #benefits-meditation>h2 {
        text-align: center;
        margin: 40px 0 30px 0;
        font-size: 150%;
        color: #011936;
    }

    .benefits-left-reasons {
        clear: both;
        width: 100%;
        margin: 0 auto;
        line-height: 20px;
        margin-bottom: 20px;
        text-align: left;
        float: none;
        transition: transform .4s ease;
    }

    #benefits-left {
        clear: both;
        width: 80%;
        margin: 0 auto;
        float: none;
    }

    .benefits-right-reasons {
        clear: both;
        width: 100%;
        float: none;
        line-height: 20px;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: left;
        transition: transform .4s ease;
    }

    .benefits-left-reasons i {
        float: left;
        padding-right: 1rem;
    }

    #benefits-right {
        clear: both;
        width: 80%;
        padding: 0;
        margin: 0 auto;
        float: none;
    }

    #benefits-center {
        display: none;
    }

    /* Meditation techniques */

    #meditation-techniques {
        width: 100%;
        height: fit-content;
        padding: 1% 0;
        margin-top: 10%;
        background-color: #def6e5;
    }

    #cards-title {
        text-align: center;
        margin: 40px 0 10px 0;

    }

    #cards-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .card-homepage {
        height: auto;
    }

    .card-homepage p {
        margin: 30px 20px;
        line-height: 1.4em;
    }

    #cards-div a {
        width: 80%;
    }

    .card-homepage img {
        width: 40%;
        border-radius: initial;
        float: left;
    }

    /* Footer */

    #footer-image-form {
        display: none;
    }

    #footer-title {
        padding-top: 0;
    }

    #footer-content {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    #footer-left-social {
        width: 60%;
        padding: 10px 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        transform: none;
    }

    #footer-left-social span {
        display: none;
    }

    #footer-form {
        width: 60%;
    }

    /* Stress Page */

    /* Get ready section */

    #cards-get-ready {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        align-content: center;
        gap: 20px;
    }

    .get-ready-card {
        max-width: 30%;
        height: 100%;
    }

    .get-ready-card-text {
        padding: 0 20px;
    }

    /*Videos section*/


    .meditation-video-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 20px;
        flex-direction: column;
        align-content: center;
    }

    .meditation-video-left {
        width: 100%;
    }

    .meditation-video-right {
        width: 100%;
    }

    /* Thank You Page */

    #hero-left-side>a {
        float: left;
    }

}

/* Screen size less than 672px */

@media only screen and (max-width: 672px) {


    /* Header */

    header {
        height: auto;
        width: 100%;
        background: #fff;
    }

    header a {
        text-decoration: none;
    }

    #logo {
        float: none;
        text-align: center;
        font-size: 150%;
        letter-spacing: 2px;
        line-height: 75px;
    }

    /* Mobile Navigation Bottom */

    #mobile-nav {
        display: block;
        height: 4rem;
        width: 100%;
        background: #263238;
        position: fixed;
        bottom: 0;
        z-index: 998;
    }

    #mobile-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
    }

    .mobile-a {
        line-height: 4rem;
        width: 25%;
        text-align: center;
    }

    .mobile-a-seprator {
        border-left: 1px solid #fff;
    }

    #mobile-menu a {
        text-decoration: none;
        color: #fff;
    }

    #active {
        -webkit-text-fill-color: #92E3A9;
    }

    #menu {
        display: none;
        font-size: 200%;
    }

    /* Hero */

    #hero-outer {
        height: auto;
        position: relative;
        margin-top: 12vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #hero-left-side {
        height: fit-content;
        width: 80%;
        text-align: center;
        position: relative;
        background: none;
    }

    #hero-left-side>h2 {
        text-align: left;
        font-size: 140%;
        line-height: normal;
    }

    #hero-left-side>p {
        font-style: italic;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 2px;
        margin: 10px 0;
        text-align: left;
    }

    #hero-right-side {
        width: 100%;
    }


    /* Meditation cards section */

    #meditation-techniques {
        padding: 0 16px;
    }

    .card-homepage img {
        width: 100%;
        border-radius: initial;
        clear: both;
    }

    #cards-div a {
        width: 100%;
    }

    .card-homepage h2 {
        margin: 30px 0;
    }

    .card-homepage p {
        line-height: 1.4em;
    }

    /* Beneftis section*/

    .benefits-left-reasons {
        clear: both;
        width: 100%;
        margin: 0 auto;
        line-height: 20px;
        margin-bottom: 40px;
        text-align: left;
        font-size: smaller;
        float: none;
    }

    .benefits-right-reasons {
        clear: both;
        width: 100%;
        margin: 0 auto;
        line-height: 20px;
        margin-bottom: 40px;
        text-align: left;
        font-size: smaller;
        float: none;
    }

    /* Footer */

    footer {
        padding-bottom: 12vh;
    }

    .input-signup {
        background: transparent;
        color: #011936;
        width: 100%;
        height: 50px;
        margin: 20px 0 20px 0;
        border: 1px solid #011936;
        border-radius: 10px;
        box-shadow: 0 0 10px rgb(65 21 48 / 20%);
    }

    #footer-form {
        width: 80%;
        padding: 30px;
        background-color: transparent;
        color: #011936;
        font-weight: bold;
        letter-spacing: normal;
    }

    #footer-left-social {
        width: 80%;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        transform: none;
    }

    /* Meditation Pages */

    /* Page intro */

    #page-intro-text {
        width: 80%;
    }

    #page-intro-text ul {
        list-style: circle;
        margin-left: 2em;
    }

    /* Get Ready Section */

    #cards-get-ready {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }

    .get-ready-card {
        width: 80%;
        max-width: 100%;
        height: fit-content;
    }

    .get-ready-card-number {
        height: 30px;
        width: 30px;
    }

    .get-ready-card-text {
        height: 70%;
    }
}